<div class="home">
  <div class="heading">
    <h1>dAIet</h1>
    <p>L'assistente personale per l'alimentazione più adatta a te</p>
  </div>
  <div class="chatbot-wrapper">
    <form class="chatbot" [formGroup]="chatbotForm">
      <div class="scrollable" #scrollContainer>
        <div class="input-cards row g-3">
          <div class="card col-6">
            <p>Hai allergie?</p>
            <input
              type="text"
              pInputText
              formControlName="allergeni"
              placeholder="Inseriscile qui"
            />
          </div>

          <div class="card col-6">
            <p>Vital signs</p>
            <input
              type="text"
              pInputText
              formControlName="vitalSigns"
              placeholder="Inseriscili qui"
            />
          </div>
          <div class="card col-12">
            <p>Sei affetto da patologie?</p>
            <!-- <input
              type="text"
              pInputText
              formControlName="patologie"
              placeholder="Inseriscile qui"
            /> -->
            <p-autoComplete
              formControlName="patologie"
              [suggestions]="filteredPatologie"
              (completeMethod)="filterPatologie($event)"
              optionLabel="name"
              [multiple]="true"
              placeholder="Inseriscile qui"
            />
          </div>
          <div class="card farmaci col-12">
            <p>Fai uso di farmaci?</p>
            <p-autoComplete
              formControlName="farmaci"
              [suggestions]="filteredFarmaci"
              (completeMethod)="filterFarmaci($event)"
              optionLabel="name"
              [multiple]="true"
              (onUnselect)="removeFarmaco($event)"
              placeholder="Inseriscili qui"
            />
            @for (farmacoDetail of chatbotForm.get('farmaci')?.value; track
            farmacoDetail.id;){
            <div class="dettagli-farmaci">
              <p>{{ farmacoDetail.name }}</p>
              <textarea
                id="{{ farmacoDetail.id }}"
                placeholder="In che modalità assumi {{ farmacoDetail.name }}?"
                pInputTextarea
                cols="20"
                rows="2"
                (input)="updateFarmacoDetails($event, farmacoDetail.id)"
              ></textarea>
            </div>
            }
          </div>
        </div>
        <div>
          <p>
            {{ testoSimulato }}
          </p>
        </div>
      </div>
      <div class="input-bar">
        <input
          type="text"
          pInputText
          formControlName="richiesta"
          placeholder="Chiedimi qualcosa.."
          (keyup.enter)="submit()"
        />
      </div>
    </form>
  </div>
</div>
