.home {
  height: 100%;
  .heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    // height: 16%;
    height: 6rem;
    p {
      margin-top: 0;
    }
  }
  .chatbot-wrapper {
    // height: 84%;
    height: calc(100% - 6rem);
    display: flex;
    justify-content: center;
    form.chatbot {
      border-radius: 5px;
      width: 60%;
      padding: 1rem;
      margin-bottom: 1rem;
      background-color: white;
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;
      gap: 1rem;
      .scrollable {
        padding: 0 0.5rem;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        --sb-track-color: #ffffff;
        --sb-thumb-color: var(--surface-200);
        --sb-size: 7px;
        &::-webkit-scrollbar {
          width: var(--sb-size);
        }
        &::-webkit-scrollbar-track {
          background: var(--sb-track-color);
          border-radius: 5px;
        }
        &::-webkit-scrollbar-thumb {
          background: var(--sb-thumb-color);
          border-radius: 5px;
        }

        div.input-cards {
          // gap: 1rem;
          // margin-top: auto;
          padding-bottom: 1rem;
          div.card {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            // width: 80%;
            // min-width: 15rem;
            // padding: 1rem;
            border: 2px solid var(--surface-200);
            border-radius: 5px;
            padding: 1rem;
            > p {
              margin-top: 0;
            }
            p-autocomplete ::ng-deep {
              width: 100%;
              div {
                width: 100%;
                > ul {
                  width: 100%;
                  margin-bottom: 0;
                  padding: 0.5rem 1rem;
                }
                ul.p-autocomplete-items {
                  padding: 0 !important;
                }
              }
            }
            input {
              width: 100%;
            }
            &.farmaci {
              > div {
                display: flex;
                flex-direction: column;
                align-items: center;
              }
              div.dettagli-farmaci {
                p {
                  margin-bottom: 0.5rem;
                  margin-top: 1rem;
                }
              }
            }
          }
        }
      }
      div.input-bar {
        margin-top: auto;
        margin-bottom: 1rem;
        width: 100%;
        input {
          width: 100%;
        }
      }
    }
  }
}
