<div class="home">
  <div class="heading">
    <h1>dAIet</h1>
    <p>Your personal assistant for the nutrition plan that suits you best</p>
  </div>
  <div classList="{{ dietPlan ? 'table-visible ' : '' }} chatbot-wrapper">
    <form class="chatbot animated" [formGroup]="chatbotForm">
      <div class="scrollable" #scrollContainer>
        <div class="generation-button">
          <p-button
            label="{{ dietPlan ? 'Re-generate' : 'Generate' }} diet plan"
            [loading]="isLoading"
            (onClick)="submit()"
          />
        </div>
        <div class="input-cards row g-2">
          <div class="card col-6">
            <p>Do you have any allergies?</p>
            <input
              type="text"
              pInputText
              formControlName="allergeni"
              placeholder="Enter them here"
            />
          </div>

          <div class="card col-6 vitalSigns" formGroupName="vitalSigns">
            <p>Vital signs</p>
            <div class="numeric-inputs">
              <p-inputNumber
                id="altezza"
                formControlName="altezza"
                mode="decimal"
                minFractionDigits="0"
                maxFractionDigits="0"
                min="0"
                showButtons="true"
                step="1"
                suffix="cm"
              ></p-inputNumber>
              <p-inputNumber
                id="peso"
                formControlName="peso"
                mode="decimal"
                minFractionDigits="0"
                maxFractionDigits="0"
                min="0"
                showButtons="true"
                step="1"
                suffix="kg"
              ></p-inputNumber>
              <p-inputNumber
                id="eta"
                formControlName="eta"
                mode="decimal"
                minFractionDigits="0"
                maxFractionDigits="0"
                min="0"
                showButtons="true"
                step="1"
                placeholder="Age"
              ></p-inputNumber>
            </div>
            <div class="text-inputs">
              <p-dropdown
                formControlName="goal"
                [options]="goals"
                optionLabel="label"
                placeholder="Goal"
              />
              <p-selectButton
                [options]="sesso"
                formControlName="sesso"
                optionLabel="label"
                optionValue="value"
              />
            </div>
          </div>
          <div class="card col-12">
            <p>Do you have any medical conditions?</p>
            <p-autoComplete
              formControlName="patologie"
              [suggestions]="filteredPatologie"
              (completeMethod)="filterPatologie($event)"
              optionLabel="disease"
              [multiple]="true"
              placeholder="Enter them here"
            />
          </div>
          <div class="card farmaci col-12">
            <p>Are you taking any medications?</p>
            <p-autoComplete
              formControlName="farmaci"
              [suggestions]="filteredFarmaci"
              (completeMethod)="filterFarmaci($event)"
              optionLabel="name"
              [multiple]="true"
              (onUnselect)="removeFarmaco($event)"
              placeholder="Enter them here"
            />
            @for (farmacoDetail of chatbotForm.get('farmaci')?.value; track
            farmacoDetail.id;){
            <div class="dettagli-farmaci">
              <p>{{ farmacoDetail.name }}</p>
              <textarea
                id="{{ farmacoDetail.id }}"
                placeholder="How do you take {{ farmacoDetail.name }}?"
                pInputTextarea
                cols="20"
                rows="2"
                (input)="updateFarmacoDetails($event, farmacoDetail.id)"
                [disabled]="isLoading"
              ></textarea>
            </div>
            }
          </div>
        </div>

        @if (dietPlan) {
        <div>
          <app-conversation [dietPlan]="dietPlan"></app-conversation>
        </div>
        }
      </div>
    </form>
    <div class="diet-table animated">
      <app-diet-table [nutritionData]="dietPlan"></app-diet-table>
    </div>
  </div>
</div>
